@font-face {
  font-family: vivaldi;
  src: url("../assets/fonts/VIVALDII.TTF")
}
.navbar-brand img {
  width: 100px
}
.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#fb_subcontainer {
  width: 80%;
  height: 500px;
}
#mapbox {
  box-shadow: 10px 10px 20px #888888;
}
.img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}
.box {
  width: 250px;
  border: 5px solid black;
}
.box.large {
  height: 300px;
}
.box.small {
  height: 100px;
}
.btn{
  background-color: #F19D5D;
  background-repeat: #F19D5D;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 275px;
  border: 0px solid #ffffff;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #ffffff;
  color: black;
}
/* Style the back side */
.flip-card-back {
  background-color: #F19D5D;
  color: white;
  transform: rotateY(180deg);
}
.caption {
  color: #F19D5D;
  font-size: 20px;
}
.menurow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 20px;
  align-items: center;
}
#title {
  font-family: vivaldi;
  font-size: 150px;
  color: #F19D5D;
  margin: 50px;
}

#subtitle{
	font-size: 30px;
	margin: 0px 50px;
}



@media screen and (max-width: 850px) {
  .display-4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  #mapbox {
    width: 300px;
    height: 300px;
  }
  .menurow {
    flex-direction: column;
    margin: 0px 50px;
  }
  .flip-card {
    margin: 20px 0px;
  }
  #title {
    font-size: 60px;
	    margin: 50px 10px;

  }
	
	
	#subtitle{
	font-size: 20px;
	margin: 0px 10px;
}
}

